{# Szablon menu dla użytkownika #}

<li>
    <a href="{{ url('user_guns_list') }}">
        <i class="fa fa-eye fa-lg"></i> {{ 'menu.guns'|trans }}
    </a>
</li>

<li>
    <a href="{{ url('user_guns_collection') }}">
        <i class="fa fa-eye fa-lg"></i> {{ 'menu.collection'|trans }}
    </a>
</li>