{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_register'|trans }}{% endblock %}

{% block body %}
    <h3>Twoja kolekcja broni</h3>
    <table class="table table-bordered">
        <tr class="warning">
            <td>Id.</td>
            <td>Nazwa broni</td>
            <td>Operacje</td>
        </tr>
        {% for gun in guns %}
            <tr>
                <td>{{ gun.gun_id }}</td>
                <td>{{ gun.name }}</td>
                <td>
                    <a href="{{ url('user_guns_show', {id: gun.gun_id}) }}">
                        <button type="button" class="btn btn-success">Podgląd
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}